.square{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: black;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 470px;
    height: 470px;
}

.mole{
    background-image: url(mole.png);
    background-size: cover;
}